# these packages are used to automate unit tests
atomicwrites==1.3.0
attrs==19.1.0
importlib-metadata==0.21
more-itertools==7.2.0
packaging==19.1
pluggy==0.13.0
py==1.8.0
pyparsing==2.4.2
pytest==5.1.2
six==1.12.0
wcwidth==0.1.7
zipp==0.6.0
# these packages are used to do code analysis
mccabe==0.6.1
pycodestyle==2.5.0
pydocstyle==4.0.1
pyflakes==2.1.1
pylama==7.7.1
snowballstemmer==1.9.1
# this package is used to calculate unit test coverage
coverage==4.5.4